server:
  port: 8989

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Route 1: Identity
        - id: identity-service
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/auth/**

        # Route 2: Outing (MUST ALIGN WITH ROUTE 1)
        - id: outing-service
          uri: lb://OUTING-SERVICE
          predicates:
            - Path=/outing/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/